version: '3.0'

services:
  postgresa:
    image: postgres:13
    container_name: 'postgresa-container'
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgresusera
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=connectoradb
    volumes:
      - connector-dataa:/var/lib/postgresql/data
    networks:
      - local

  connector:
    image: ghcr.io/advanced-dataspaces-vtt/vtt-example-ids-connector/vtt-connector:simplified_compose
    container_name: vtt-provider-connector
    ports:
      - "8081:8081"
    environment:
      - CONFIGURATION_PATH=/config/config.json
      - SERVER_PORT=8081
      - DAPS_URL=https://daps.collab-cloud.eu/auth
      - DAPS_TOKEN_URL=https://daps.collab-cloud.eu/auth/token
      - DAPS_KEY_URL=https://daps.collab-cloud.eu/auth/jwks.json
      - DAPS_INCOMING_DAT_DEFAULT_WELLKNOWN=/jwks.json
      - SERVER_SSL_KEY-STORE=/config/collab-cloud.p12
      - SPRING_SECURITY_USER_NAME=admin
      - SPRING_SECURITY_USER_PASSWORD=password
      # Define the PostgreSQL setup
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgresa:5432/connectoradb
      - SPRING_DATASOURCE_PLATFORM=postgres
      - SPRING_DATASOURCE_DRIVERCLASSNAME=org.postgresql.Driver
      - SPRING_DATASOURCE_USERNAME=postgresusera
      - SPRING_DATASOURCE_PASSWORD=password
      - SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
      # IDS Connector variables
      - IS_IDS_PROVIDER="true"
      - IDS_CONECTOR_CREDENTIAL=YWRtaW46cGFzc3dvcmQ=
      - IDS_INTERNAL_CONECTOR_ENDPOINT=https://130.188.160.19:8081
      - IDS_PUBLIC_CONECTOR_ENDPOINT=https://vtt-provider-connector:8081
    networks:
      - local
    depends_on:
      - postgresa

  ui:
    image: ryankford/vtt-example-connector-ui:latest-amd64
